OuterDriver/packages/
WindowsPhoneJsonWireServer/packages/
!OuterDriver/repositories.config
!WindowsPhoneJsonWireServer/repositories.config
*.suo
*.user
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Cc]lient[Bb]in/
[Rr]elease*/
*.suo
*.user
_ReSharper.*
*.vspscc
*.vssscc
